@{
    ViewData["Title"] = "Access Denied";
}
<div class="container my-5">
    <div class="alert alert-warning">
        <h4 class="alert-heading">Access Denied</h4>
        <p>You don't have permission to view this page. Please login with the appropriate role.</p>
        <hr />
        <a class="btn btn-primary" href="/Account/Login">Go to Login</a>
    </div>
</div>
